/* 
  Selectores

  Son patrones que permiten seleccionar y aplicar estilos a elementos de una pagina web.

  Tipos de Selectores
  
    1. Selectores Basicos
      - Selector Universal
      - Selectores de Tipo

    2. Selectores de Clase
      - sekeccionan los elementos que tienen una clase especifica.

      - Se usa la 'notacion' de (.) antes del nombre de la clase 

      - nombreClase {
        propiedad: valor;
        }
      

    3. Selectores de ID
        Los selectores de ID seleccionan un elemento unico con un identificador especifico.

        Se usa la 'notacion' de numeral (#) antes del nombre ID

        #nombreId {
          propiedad: valor;
        }


      4. Selectores Combinados
      - Descendientes
          - Seleccionan elementos dentro de otros elementos.

          elemento elementoInterno {
            propiedad: valor;
          }

      - Hijo directo
        -  Selecciona elementos que son hijos directos de un elemento padre.

          elemento > elementosHijos {
          propiedad: valor;
          }
          
      - Elemento Adjacente
        - Selecciona el primer elemento inmediatamente despues de otro. (Su hermano inmediato o "Siblings")

          elemento + elementoAdjacente {
          propiedad: valor;
          }

      - Hermano General
        - Selecciona todos los elementos hermanos despues de un elemento

          elemento ~ elementoHermanos {
          propiedad: valor;
          }

    5. Selectores de Atributos
      - Atributo
        - Selecciona elementos según el atributo que indiquemos. Sin importar su valor.

          elemento[ätributo] {
          propiedad: valor;
          }

      - Atributo Valor
        - Selecciona elementos según el atributo y el valor que índiquemos.
        
          elemento[atributo=valor] {
          propiedad: valor
          }
      
    6. Selectores Avanzados
      - Pseudo-clases
         - Seleccionamos elementos en un estado en particular.

          elemento:pseudoclase {
          propiedad: valor;
          }

      - Pseudo-elementos
        - Seleccionan partes especificas de un elemento en HTML.

          elemento::pseudoElemento {
          propiedad: valor;
          }

*/

/*
  Selectores Básicos
*/

/*
  Universal -> Seleccionar todos los elementos de un documento.
*/
* {
  /* border: 2px solid red;*/
  /* resset */
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* Selectores de Tipo -> Selecciona un tipo de elemento en html */
body {
 background-color: aquamarine;
}

h1 {
  color: darkgray;
}

p {
  color: cadetblue;
  font-size: 24px;
}

header {
  background-color: purple;
}


/* Selectores de clase */
.content {
  background-color: chocolate;
  padding: 48px;
}

.hero {
  background-color: aliceblue;
  padding: 24px;
}

.hero-title {
  background-color: darkturquoise;
  color: aliceblue;
  padding: 16px;
  text-align: center;
}


/* Selector ID */
#about-title {
  color: mediumblue;
  font-size: 62px;
}

/* Combinado - Elementos Decendientes */
aside section {
  background-color: green;
  padding: 48px;
}

.aside-section h3 {
  color: white;
  text-align: right;
  padding: 24px;
  background-color: black;
}

/* Combinados - Hijos Directos */
ul > li {
  background-color: gold;
}

.lista > li {
  font-size: 8px;
  color: darkblue;
}

/* Combinados - Elemento Adjacente */
h3 + ul {
  list-style: none;
}

.bro + li {
  background-color: red;
}

/* Combinados - Hermano General */
.bro + li ~ li {
  background-color: darkviolet;
}

.tercero ~ li {
  color: black;
  font-size: 40px;
}



/* Selector de Atributo */
a[href] {
  display: block;
  text-decoration: none;
  color: aliceblue;
}

/* Selector de Atributo con Valor */
a[href="https://www.instagram.com/"] {
  font-size: 45px;
  color: orangered;
}

/* Pseudo-Clases */
a:hover {
  background-color: purple;
  color: white;
  text-decoration: underline;
}

a:focus {
  border: 3px solid red;
}

/* Pseudo-Elementos */
a::after {
  content: "🍱";
}

a::before {
  content: "Este es un enlace hacia: ";
}