/*

Selectores 

Son patrones que permiten
seleccionar y aplicar estilos
específicos a elementos de 
una página web.

Tipos de Selectores

1.  Selectores Básicos
       -Selectores Universal ->
      Seleccionan todos los
      elementos de un documento
       -Selectores de Tipo  ->
       Selecciona un tipo de 
       elemento de html

 2. Selectores de Clase

 Seleccionan los elementos
 que tiene una clase
 específica.

 Se usa la 'notación' de
 punto (.) antes del nombre
 de la clase

 .nombreClase {
   propiedad: valor;
  }




 3. Selectores de ID

  Seleccionan un elemento único con un
  identificador específico.

  Se usa el la ´notación´ de numeral (#)
  amtes del nombre del id.

  #nombre Id {
    propiedad: valor;
 }


 4. Selectores Combinados

    -Descendientes

      Seleccionan elementos dentro de otrps
      elementos.

      elemento elementoInterno {
        propiedad: valor;
    }
      

    -Hijo directo

    -Elemento Adjacente

    Selecciona el primer elemento inmediamente
    despúes de otro. (Su hermano inmediato o en
    ingles Siblings)

    elemento + elementoAdjacente  {
      propiedad: valor;
    }
    -Hermano general

    Selecciona todos los elementos hermanos
    después de un elmento.

    elemento ~ elementoHermanos {
        propiedad: valor;
   }

  Selecciona elementos que son hijos directos de un elemento padre.

   elemento > elementosHijos {
       propiedades: valor;
  }


5. Selectores de Atributos

     -Atributo

     Selecciona elementos según el atributo que
     indiquemos. Sin importar su valor.

     elemento[atributo] {
     propiedad: valor;
  }

     -Atributo - Valor

  Selecciona elementos según el atributo y el valor
  que índiquemos.

  elemento[atributo=valor] {
  propiedad: valor;
  }
  


6. Selectores Avanzados

     -Pseudo-clases

     Seleccionamos  elmentos en un estado
     en particular

     elemento:pseudoclase {
      propiedad: valor;
    }


     -Pseudo-elemento

    Seleccionan partes específicas de un elemento en html

    elmento :: pseudoi
    

*/


/*
 
   Selector Básicos
*/

/*Universal -> Seleccionar todos los elemntos de un documento
*/



* {
 /*  border: 2px solid red; */
  /* Resset Básico */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Selectores de tipo -> Seleccionan un tipo de elemento en html */

body {
  background-color: aquamarine;
}

h1 {
  color: darkgray;
}

p {
  font-size: 120;
}

header {
  background-color: cadetblue;
}

/* Selectores de Clase */

.content {
   background-color: chocolate;
   padding: 48px;
}

.hero {
  background-color: aliceblue;
  padding: 24px;
}

.hero-title {
  background: darkturquoise;
  padding: 16px;
  color: aliceblue;
  text-align: centerS;
}

/* Selector de Id */

#about-title {
  color: mediumblue;
  font-size: 72px;
}

/* Combinado - Elementos Decendientes */

aside section {
 background-color: green;
 padding: 48px;
}

.aside-section h3 {
  color: white;
  text-align: right;
  padding: 24px;
  background-color:black;
}

/* Combinado - Hijos Directos */

ul  > li   {
  background-color: gold;
} 

.lista > li {
  font-size: 8px;
  color: darkblue;
}

/* Combinados - Elemento Adjacente */

h3 + ul {
  list-style: none;
}

.bro + li {
  background-color: red;
}

/* Combinados - Hermanos General */

.bro + li ~ li {
    background-color: darkviolet;
}

.tercero ~ li {
  color: black;
  font-size: 40px;
}

/* Selectores de Atributo */

a[href] {
  display: block;
  text-decoration: none;
  color: aliceblue;
}

/* Selector de Atributo con valor */

a[href="https://www.instagram.com/"] {
  font-size: 48px;
  color: orangered;
}

/* Pseudo-clases */
a:hover {
   background-color: purple;
   color:white;
   text-decoration: underline;
}

a:focus {
  border: 3px solid  red;
}

/* Pseudo-elemento */
a::after {
   content:"Este es un enlace hacia🍱: ";
}
